body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-first-page{
  background-image: url(".pasta.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
