.about-us-container {
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#restaurant-img {
    max-width: 80%;
    border-radius: 20px;  
}

#btn-reservation {
    background-color: green;
    margin-top: 10%;
}

/* Media query */

@media screen and (max-width: 900px) {
    .about-us-container {
        height: 100%;
    }

    #restaurant-img {
        margin-bottom: 10%;
    }

  } 