#bookTable-btn{
    color:#fff;
}

#cancel-icon-bookTable{
    position: absolute;
    right: 3%;
}

#reserver-btn{
    background-color: #2B6250;
    margin-top: 15%;
}

#number-people {
    background-color: #fff;
}





/*  BRUKES IKKE? 
.btn-style {
    color: red;
}
*/
