#style-modal{
    width: 35%;
}

#bookTable-btn{
    color:#fff;
}

#cancel-icon-bookTable{
    position: absolute;
    right: 3%;
    color: #2B6250;
}

#reserver-btn{
    background-color: #2B6250;
    margin-top: 15%;
}

#number-people {
    background-color: #fff;
}

p{
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

@media screen and (max-width: 1000px) {

 #style-modal{
    width: 50%;
}
  } 
  @media screen and (max-width: 660px) {

    #style-modal{
       width: 80%;
   }
     } 


