
body{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* Contact */

.contact-section{
  height: 100vh;
  background-color:#000000  ;
  color:white;
  text-align: center;
}

.contact-section h1{
  padding-top: 20%;
}

.contact-section a{
  color:white
}

.contact-section a:hover{
  color:green;
}

.map{
  border:none;
  border-radius: 10px;
}


/* Footer */
.footer-container{
  padding-bottom: 2%;
}

/* Media query */

 @media screen and (max-width: 600px) {
  .contact-section{
    height: 100%;
  }
} 
