
/* Contact */

.contact-section{
  background-color:#2D2424;
  height: 100vh;
}


.map{
  border:none;
  border-radius: 10px;
}

/* Footer */
.footer-container{
  padding-bottom: 2%;
}


@media screen and (max-width: 600px) {
  .contact-section{
    height: 100%;
    background-color:blue;
  }
}
