
body{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* Contact */

.contact-section{
  height: 100vh;
  background-color:#242424  ;
  color: #FFFFFF;
  text-align: center;
 
}

.contact-section h1{
  padding-top: 50%;
  font-size: 3rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.contact-section p{
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.contact-section h2{
  font-size: 1.5rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.contact-section a{
  color:#FFFFFF;
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.icone-contact-us{
  vertical-align:top;
}
.map{
  border:none;
  border-radius: 10px;
}

#contact-bookTable-btn{
 background-color: #2B6250;
 margin: 5% 0 5%;
}


/* Media query */

 @media screen and (max-width: 600px) {
  .contact-section{
    height: 100%;
  }

  .icone-contact-us{
    vertical-align:bottom;
  }

  .map{
  width: 100%;
  border-radius: 0px;
  }
} 

@media screen and (min-width: 1000px){

  .map:hover{
    filter: brightness(50%);
    transition: 0.5s;
  }

  .contact-section a:hover{
    color:#2B6250;
    transition: 0.5s;
  }
}
