html {
    scroll-behavior: smooth;
  }

.btn-div{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    width: 60%;
}

.first-btn-hero{
  width:164px;
}

#btn-hero{
    background-color: green;
    color:white;
    
}


@media screen and (max-width: 600px) {
    .btn-div{
       width: 100%;
       flex-direction: column;
       align-items: center;     
    }

    #btn-hero{
       width: 183px;
       margin-top: 30px;
    }
 
  } 