html {
    scroll-behavior: smooth;
  }

.btn-div{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 70%;
}

.first-btn-hero{
  width:164px;
}

#btn-hero{
  background-color: #2B6250;
  color: #ffff;
    
}


@media screen and (max-width: 600px) {
    .btn-div{
       width: 100%;
       flex-direction: column;
       align-items: center;     
    }

    #btn-hero{
       width: 183px;
       margin-top: 30px;

    }
  } 