.information-section{
    background-color: #c0c0c01a;
}

.information-container{
    height: 80vh;
    text-align: center;
}

.food-container{
 
    align-items: center;
    justify-content: center;
}


#food-image{
    max-width: 100%;
    border-radius: 20px;
}

#information-btn {
    background-color: green;
    margin-top: 5%;
}




@media screen and (max-width: 900px) {
    .information-container{
        height: 100%;
    }

     #information-btn {
        margin-bottom: 10%;
    }


    .information-text{
        padding-top: 3%;
    }

  } 