body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Contact */

.contact-section{
  background-color:brown;
  height: 100vh;
  position: relative;
}

.contact-section h1{
  margin: 0;
  text-align: center;
}

/* Footer */

.footer-icons{
  display: flex;
  justify-content: space-around;
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%);
  width: 25%;
}


/* Modal Book Table */

.book-table-box{
}
